<h2>
    <strong>
        Ingrese un nuevo producto
    </strong>
</h2> 
<br>

<div>
    <form action="/productos/guardar" method="post">

        <div class="form-group">
            <label for="nombre"><b>Nombre:</b></label>
            <input id="nombre" class="form-control" type="text" name="nombre">
        </div>
        
        <br>

        <div class="form-group">
            <label for="descripcion"><b>Descripción:</b></label>
            <input id="descripcion" class="form-control" type="text" name="descripcion">
        </div>
        <br>

        <div class="form-group">
            <label for="codigo"><b>Código:</b></label>
            <input id="codigo" class="form-control" type="text" name="codigo">
        </div>
        <br>

        <div class="form-group">
            <label for="foto"><b>Foto(URL):</b></label>
            <input id="foto" class="form-control" type="text" name="foto">
        </div>
        <br>

        <div class="form-group">
            <label for="precio"><b>Precio:</b></label>
            <input id="precio" class="form-control" type="text" name="precio">
        </div>
        <br>

        <div class="form-group">
            <label for="stock"><b>Stock:</b></label>
            <input id="stock" class="form-control" type="text" name="stock">
        </div>
        <br>

        <button class="btn btn-success mt-3 mb-5">Guardar</button>
    </form>
</div>